node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

.next
out

__tests__
coverage
*.test.js
*.spec.js

.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
.editorconfig
.idea
.vscode

.DS_Store
Thumbs.db

README.md
docs
*.md

.docker
docker-compose*.yml
Dockerfile* 