[submodule "editor/external/zlib"]
	path = editor/external/zlib
	url = https://github.com/madler/zlib.git
[submodule "editor/external/libzip"]
	path = editor/external/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "editor/external/libcurl"]
	path = editor/external/libcurl
	url = https://github.com/curl/curl.git
[submodule "editor/external/openssl"]
	path = editor/external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "editor/external/googletest"]
	path = editor/external/googletest
	url = https://github.com/google/googletest.git
[submodule "editor/external/countly"]
	path = editor/external/countly
	url = https://github.com/Countly/countly-sdk-cpp.git
