name: Validate CI workflows

on:
  pull_request:
    paths: [.github/workflows/*]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  # renovate: datasource=pypi depName=uv
  UV_VERSION: '0.5.12'
  # renovate: datasource=pypi depName=zizmor
  ZIZMOR_VERSION: '0.10.0'

jobs:
  validate-ci-workflows:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@887a942a15af3a7626099df99e897a18d9e5ab3a # v5
        with:
          version: ${{ env.UV_VERSION }}

      - name: Run zizmor
        run: uvx zizmor@${ZIZMOR_VERSION} .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
