{% extends 'base.html' %}

{% block content %}
<h1>Shows</h1>

<!-- Pills for Search and Recommendations -->
<div class="btn-group mb-3" role="tablist" id="pills-tab" aria-label="Shows Tabs">
    <a class="btn btn-outline-secondary active" id="pills-shows-search-tab" data-bs-toggle="pill"
        href="#pills-shows-search" role="tab" aria-controls="pills-shows-search" aria-selected="true">Search</a>
    <a class="btn btn-outline-secondary" id="pills-shows-recommendations-tab" data-bs-toggle="pill"
        href="#pills-shows-recommendations" role="tab" aria-controls="pills-shows-recommendations"
        aria-selected="false">Recommendations</a>
</div>

<div class="tab-content" id="pills-tab-content">
    <!-- Search Pill -->
    <div class="tab-pane fade show active" id="pills-shows-search" role="tabpanel">
        <div class="col-md-10">
            <div class="input-group mb-3">
                <input id="show-search-input" type="text" class="form-control" placeholder="Enter search text..."
                    aria-label="Search..." aria-describedby="show-search-input">
                <button id="show-search-button" type="button" class="btn btn-primary">
                    Search
                    <span id="show-spinner-border" class="spinner-border spinner-border-sm ms-2" role="status"
                        aria-hidden="true" style="display: none;"></span>
                </button>
            </div>
        </div>
        <!-- Results Section -->
        <section id="results-section" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        </section>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='shows_script.js') }}" defer></script>
{% endblock %}