.venv

/Frontend/node_modules
/Frontend/dist



.env.local

database.sqlite

Backend/__pycache__
Backend/.pytest_cache
Backend/venv


Collections/*

FileCollections

.dev.secret

VectorStores/*
Frontend/chroma_db/chroma.sqlite3
Backend/src/vectorstorage/__pycache__/embeddings.cpython-310.pyc
Backend/src/vectorstorage/__pycache__/vectorstore.cpython-310.pyc
Backend/src/vectorstorage/helpers/__pycache__/sanitizeCollectionName.cpython-310.pyc
Backend/src/endpoint/__pycache__/models.cpython-310.pyc
Backend/src/dataIntake/__pycache__/textSplitting.cpython-310.pyc
Backend/src/endpoint/__pycache__/models.cpython-310.pyc
Backend/src/vectorstorage/__pycache__/query.cpython-310.pyc
Backend/src/dataIntake/fileTypes/__pycache__/loadX.cpython-310.pyc
Backend/src/endpoint/__pycache__/models.cpython-310.pyc
Backend/src/dataIntake/__pycache__/loadFile.cpython-310.pyc
Backend/src/dataIntake/fileTypes/__pycache__/loadX.cpython-310.pyc
.DS_Store
Backend/src/dataFetch/__pycache__/youtube.cpython-310.pyc
Backend/src/dataFetch/__pycache__/youtube.cpython-311.pyc
Backend/src/voice/__pycache__/voice_to_text.cpython-310.pyc
Backend/src/authentication/__pycache__/token.cpython-310.pyc
Backend/.DS_Store
Backend/.DS_Store
Backend/src/dataIntake/__pycache__/csvFallbackSplitting.cpython-310.pyc
Backend/src/.DS_Store
Backend/.DS_Store
Backend/src/dataFetch/__pycache__/webcrawl.cpython-310.pyc
Frontend/scraping_progress.txt
Backend/src/dataFetch/__pycache__/webcrawler.cpython-310.pyc
Backend/src/dataIntake/__pycache__/getHtmlFiles.cpython-310.pyc
Backend/src/endpoint/__pycache__/webcrawl.cpython-310.pyc
Backend/src/endpoint/__pycache__/transcribe.cpython-310.pyc
Backend/src/endpoint/__pycache__/query.cpython-310.pyc
Backend/src/endpoint/__pycache__/embed.cpython-310.pyc
Backend/src/endpoint/__pycache__/deleteStore.cpython-310.pyc
Backend/src/authentication/__pycache__/api_key_authorization.cpython-310.pyc
Backend/src/database/__pycache__/db.cpython-310.pyc
Backend/src/endpoint/__pycache__/apiQuery.cpython-310.pyc
Backend/src/endpoint/__pycache__/vectorQuery.cpython-310.pyc
Backend/src/database/__pycache__/checkAPIKey.cpython-310.pyc
Backend/src/database/__pycache__/getLLMApiKey.cpython-310.pyc
Backend/src/endpoint/__pycache__/llmQuery.cpython-310.pyc
Backend/src/endpoint/__pycache__/ragQuery.cpython-310.pyc
Backend/src/database/__pycache__/getCollectionInfo.cpython-310.pyc
Backend/src/endpoint/testcutrl
Backend/src/endpoint/__pycache__/devApiCall.cpython-310.pyc
Backend/src/data/database/__pycache__/checkAPIKey.cpython-310.pyc
Backend/src/data/database/__pycache__/getCollectionInfo.cpython-310.pyc
Backend/src/data/database/__pycache__/getLLMApiKey.cpython-310.pyc
Backend/src/data/dataFetch/__pycache__/webcrawler.cpython-310.pyc
Backend/src/data/dataFetch/__pycache__/youtube.cpython-310.pyc
Backend/src/data/database/__pycache__/db.cpython-310.pyc
Backend/src/data/dataIntake/__pycache__/getHtmlFiles.cpython-310.pyc
Backend/src/data/dataIntake/__pycache__/loadFile.cpython-310.pyc
Backend/src/data/dataIntake/__pycache__/textSplitting.cpython-310.pyc
Backend/src/data/dataIntake/fileTypes/__pycache__/loadX.cpython-310.pyc
Backend/src/llms/__pycache__/llmQuery.cpython-310.pyc
Backend/src/llms/providers/__pycache__/ollama.cpython-310.pyc
Backend/src/llms/providers/__pycache__/ooba.cpython-310.pyc
Backend/src/llms/providers/__pycache__/openai.cpython-310.pyc
Backend/src/llms/messages/__pycache__/formMessages.cpython-310.pyc
