# Secrets and sensitive files
.secrets/

# IDE-specific files
.idea/

# Python cache and temporary files
__pycache__/
*.py[cod]
tmp/

# Inventory and configuration backups
inventory_backup/
inventory_test/
inventory_/

# Specific inventory and configuration files
inventory/mainnet.yaml
inventory/testnet.yaml
inventory/group_vars/all.yml
inventory/group_vars/local.yaml
inventory/group_vars/mainnet_validators.yaml
inventory/group_vars/remote.yaml
inventory/group_vars/testnet_validators.yaml
inventory-test/hosts.yml
inventory-test/group_vars/all.yml
inventory/group_vars/rpc.yaml

# Specific test or temporary files
roles/monitoring/files/test.py
