PRODUCT_NAME = pccvre
PRODUCT_BUNDLE_IDENTIFIER = com.apple.security-research.pccvre

INSTALL_PATH = /System/Library/SecurityResearch/usr/bin/

SWIFT_OBJC_BRIDGING_HEADER = $PROJECT_DIR/pccvre/BridgingHeader.h
CODE_SIGN_ENTITLEMENTS = $PROJECT_DIR/pccvre/pccvre.entitlements

HEADER_SEARCH_PATHS = $PROJECT_DIR/Shared/
SYSTEM_FRAMEWORK_SEARCH_PATHS = $(inherited) $(SDKROOT)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks
