#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Vegas SDMC (via IOS) Disk Emulation Driver"
#define VER_INTERNALNAME_STR        "iossdmc.sys"
#define VER_ORIGINALFILENAME_STR    "iossdmc.sys"

#include "common.ver"

