sudoku_0_0 == 5
sudoku_1_0 == 3
sudoku_4_0 == 7
sudoku_0_1 == 6
sudoku_3_1 == 1
sudoku_4_1 == 9
sudoku_5_1 == 5
sudoku_1_2 == 9
sudoku_2_2 == 8
sudoku_7_2 == 6
sudoku_0_3 == 8
sudoku_4_3 == 6
sudoku_8_3 == 3
sudoku_0_4 == 4
sudoku_3_4 == 8
sudoku_5_4 == 3
sudoku_8_4 == 1
sudoku_0_5 == 7
sudoku_4_5 == 2
sudoku_8_5 == 6
sudoku_1_6 == 6
sudoku_6_6 == 2
sudoku_7_6 == 8
sudoku_3_7 == 4
sudoku_4_7 == 1
sudoku_5_7 == 9
sudoku_8_7 == 5
sudoku_4_8 == 8
sudoku_7_8 == 7
sudoku_8_8 == 9