//
//  Base.xcconfig
//
//  Created by Rauhul Varma on 10/21/21.
//  Copyright © 2021 Apple Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - Architectures
SDKROOT = macosx.internal
SUPPORTED_PLATFORMS = macosx iphoneos
SUPPORTED_ARCHITECTURES = arm64 arm64e

// MARK: - Deployment
IPHONEOS_DEPLOYMENT_TARGET = 16.4
MACOSX_DEPLOYMENT_TARGET = 13.3
TARGETED_DEVICE_FAMILY = 1,2,6
SKIP_INSTALL = NO

// MARK: - Packaging
INFOPLIST_FILE = $(PROJECT_DIR)/SupportingFiles/Info.plist
DEFINES_MODULE = NO
PRODUCT_NAME = $(TARGETNAME)
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_BASE).$(PRODUCT_NAME)

// MARK: - Search Paths
ALWAYS_SEARCH_USER_PATHS = NO

// MARK: - Swift
SWIFT_INSTALL_OBJC_HEADER = NO
SWIFT_VERSION = 5.0

// MARK: - Linking
DEAD_CODE_STRIPPING = YES

// MARK: - Signing
CODE_SIGN_IDENTITY = -
CODE_SIGN_STYLE = Automatic

// MARK: - Apple Clang

// MARK: Code Generation
GCC_NO_COMMON_BLOCKS = YES

// MARK: Language C
GCC_C_LANGUAGE_STANDARD = c11

// MARK: Language C++
CLANG_CXX_LANGUAGE_STANDARD = c++17

// MARK: Language Objective-C
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_LINK_OBJC_RUNTIME = NO

// MARK: Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES

// MARK: Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = YES

// MARK: Warnings All Languages
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

// MARK: Warnings C++
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES

// MARK: Warnings Objective-C
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

// MARK: Warnings Objective-C and ARC
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// MARK: - Versioning
CURRENT_PROJECT_VERSION = 1
VERSIONING_SYSTEM = apple-generic

// MARK: - Text-Based API
TAPI_VERIFY_MODE = ErrorsOnly
SUPPORTS_TEXT_BASED_API = NO

// MARK: - User Defined
INSTALL_PATH_DAEMON = /usr/libexec
INSTALL_PATH_SYSTEM_PRIVATE_FRAMEWORKS = $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks
INSTALL_PATH_SYSTEM_MANAGER_MANUAL = /usr/share/man/man8
INSTALL_PATH_TOOL = /usr/appleinternal/bin
PRODUCT_BUNDLE_IDENTIFIER_BASE=com.apple

CLANG_ENABLE_MODULES = YES
USE_HEADERMAP = NO

ADDITIONAL_SDKS[sdk=iphoneos*] = bmcsupport privatecloudsupport
ADDITIONAL_SDKS[sdk=macos*] = acdcsupport
