#include "Base.xcconfig"

INSTALL_PATH = /System/Library/PrivateFrameworks
EXECUTABLE_EXTENSION = .framework

PRODUCT_BUNDLE_IDENTIFIER = com.apple.PrometheusParser

INFOPLIST_FILE = $(PROJECT_DIR)/SupportingFiles/Info.plist
INFOPLIST_PREPROCESS = YES

BUILD_LIBRARY_FOR_DISTRIBUTION = YES
SUPPORTS_TEXT_BASED_API = YES
