// data_display
package components

templ AccordionRow(label string) {
	<div class="collapse collapse-arrow bg-base-200 join-item">
		<input type="checkbox" name="templ-accordion"/>
		<div class="collapse-title text-xl font-medium">{ label }</div>
		<div class="collapse-content bg-base-300">
			{ children... }
		</div>
	</div>
}
