// navigation
package components

templ Menu() {
	<ul class="menu rounded-box bg-base-300">
		{ children... }
	</ul>
}

templ MenuItem(label string, attrs templ.Attributes) {
	<li>
		<a { attrs... }>{ label }</a>
		<ul>
			{ children... }
		</ul>
	</li>
}
