// actions
package components

templ Swap(on templ.Component, off templ.Component) {
	<label class="swap">
		<input type="checkbox"/>
		<div class="swap-on">
			@on
		</div>
		<div class="swap-off">
			@off
		</div>
	</label>
}
