#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Flipper EXI SDMC/IDE Disk Emulation Driver"
#define VER_INTERNALNAME_STR        "fpexiblk.sys"
#define VER_ORIGINALFILENAME_STR    "fpexiblk.sys"

#include "common.ver"

