package examples

import "github.com/haatos/goshipit/internal/views/components"

// example
templ BasicStack() {
	@components.Stack() {
		<div class="h-56 w-56 bg-red-500"></div>
		<div class="h-56 w-56 bg-green-500"></div>
		<div class="h-56 w-56 bg-blue-500"></div>
	}
}
